<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="endereco">
      <h2 data-cy="enderecoDetailsHeading"><span jhiTranslate="pageBoardApp.endereco.detail.title">Endereco</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ endereco.id }}</span>
        </dd>
        <dt><span jhiTranslate="pageBoardApp.endereco.logradouro">Logradouro</span></dt>
        <dd>
          <span>{{ endereco.logradouro }}</span>
        </dd>
        <dt><span jhiTranslate="pageBoardApp.endereco.numero">Numero</span></dt>
        <dd>
          <span>{{ endereco.numero }}</span>
        </dd>
        <dt><span jhiTranslate="pageBoardApp.endereco.complemento">Complemento</span></dt>
        <dd>
          <span>{{ endereco.complemento }}</span>
        </dd>
        <dt><span jhiTranslate="pageBoardApp.endereco.bairro">Bairro</span></dt>
        <dd>
          <span>{{ endereco.bairro }}</span>
        </dd>
        <dt><span jhiTranslate="pageBoardApp.endereco.cEP">C EP</span></dt>
        <dd>
          <span>{{ endereco.cEP }}</span>
        </dd>
        <dt><span jhiTranslate="pageBoardApp.endereco.cidade">Cidade</span></dt>
        <dd>
          <div *ngIf="endereco.cidade">
            <a [routerLink]="['/cidade', endereco.cidade?.id, 'view']">{{ endereco.cidade?.nome }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="pageBoardApp.endereco.estado">Estado</span></dt>
        <dd>
          <div *ngIf="endereco.estado">
            <a [routerLink]="['/estado', endereco.estado?.id, 'view']">{{ endereco.estado?.nome }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="pageBoardApp.endereco.pais">Pais</span></dt>
        <dd>
          <div *ngIf="endereco.pais">
            <a [routerLink]="['/pais', endereco.pais?.id, 'view']">{{ endereco.pais?.nome }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="pageBoardApp.endereco.pessoa">Pessoa</span></dt>
        <dd>
          <div *ngIf="endereco.pessoa">
            <a [routerLink]="['/pessoa', endereco.pessoa?.id, 'view']">{{ endereco.pessoa?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/endereco', endereco.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
