<div>
  <h2 id="page-heading" data-cy="PaisHeading">
    <span jhiTranslate="pageBoardApp.pais.home.title">Pais</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="pageBoardApp.pais.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-pais"
        [routerLink]="['/pais/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="pageBoardApp.pais.home.createLabel"> Create a new Pais </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="pais?.length === 0">
    <span jhiTranslate="pageBoardApp.pais.home.notFound">No pais found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="pais && pais.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="pageBoardApp.pais.nome">Nome</span></th>
          <th scope="col"><span jhiTranslate="pageBoardApp.pais.sigla">Sigla</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pais of pais; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/pais', pais.id, 'view']">{{ pais.id }}</a>
          </td>
          <td>{{ pais.nome }}</td>
          <td>{{ pais.sigla }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/pais', pais.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/pais', pais.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(pais)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
