<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-usuario-heading" data-cy="UsuarioCreateUpdateHeading" jhiTranslate="pageBoardApp.usuario.home.createOrEditLabel">
        Create or edit a Usuario
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pageBoardApp.usuario.login" for="field_login">Login</label>
          <input type="text" class="form-control" name="login" id="field_login" data-cy="login" formControlName="login" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pageBoardApp.usuario.email" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pageBoardApp.usuario.foto" for="field_foto">Foto</label>
          <div>
            <img
              [src]="'data:' + editForm.get('fotoContentType')!.value + ';base64,' + editForm.get('foto')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('foto')!.value"
              alt="usuario image"
            />
            <div *ngIf="editForm.get('foto')!.value" class="form-text text-danger clearfix">
              <span class="pull-start">{{ editForm.get('fotoContentType')!.value }}, {{ byteSize(editForm.get('foto')!.value) }}</span>
              <button
                type="button"
                (click)="clearInputImage('foto', 'fotoContentType', 'file_foto')"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_foto"
              data-cy="foto"
              (change)="setFileData($event, 'foto', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="foto" id="field_foto" data-cy="foto" formControlName="foto" />
          <input type="hidden" class="form-control" name="fotoContentType" id="field_fotoContentType" formControlName="fotoContentType" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pageBoardApp.usuario.pessoa" for="field_pessoa">Pessoa</label>
          <select class="form-control" id="field_pessoa" data-cy="pessoa" name="pessoa" formControlName="pessoa">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="pessoaOption.id === editForm.get('pessoa')!.value?.id ? editForm.get('pessoa')!.value : pessoaOption"
              *ngFor="let pessoaOption of pessoasCollection; trackBy: trackPessoaById"
            >
              {{ pessoaOption.nome }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
