<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-pergunta-heading" data-cy="PerguntaCreateUpdateHeading" jhiTranslate="pageBoardApp.pergunta.home.createOrEditLabel">
        Create or edit a Pergunta
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pageBoardApp.pergunta.questao" for="field_questao">Questao</label>
          <textarea class="form-control" name="questao" id="field_questao" data-cy="questao" formControlName="questao"></textarea>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pageBoardApp.pergunta.resposta" for="field_resposta">Resposta</label>
          <textarea class="form-control" name="resposta" id="field_resposta" data-cy="resposta" formControlName="resposta"></textarea>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pageBoardApp.pergunta.paragrafo" for="field_paragrafo">Paragrafo</label>
          <select class="form-control" id="field_paragrafo" data-cy="paragrafo" name="paragrafo" formControlName="paragrafo">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="paragrafoOption.id === editForm.get('paragrafo')!.value?.id ? editForm.get('paragrafo')!.value : paragrafoOption"
              *ngFor="let paragrafoOption of paragrafosSharedCollection; trackBy: trackParagrafoById"
            >
              {{ paragrafoOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
