<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="anexoDeParagrafo">
      <h2 data-cy="anexoDeParagrafoDetailsHeading">
        <span jhiTranslate="pageBoardApp.anexoDeParagrafo.detail.title">Anexo De Paragrafo</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ anexoDeParagrafo.id }}</span>
        </dd>
        <dt><span jhiTranslate="pageBoardApp.anexoDeParagrafo.tipo">Tipo</span></dt>
        <dd>
          <span jhiTranslate="{{ 'pageBoardApp.TipoAnexoDeParagrafo.' + anexoDeParagrafo.tipo }}">{{ anexoDeParagrafo.tipo }}</span>
        </dd>
        <dt><span jhiTranslate="pageBoardApp.anexoDeParagrafo.value">Value</span></dt>
        <dd>
          <span>{{ anexoDeParagrafo.value }}</span>
        </dd>
        <dt><span jhiTranslate="pageBoardApp.anexoDeParagrafo.paragrafo">Paragrafo</span></dt>
        <dd>
          <div *ngIf="anexoDeParagrafo.paragrafo">
            <a [routerLink]="['/paragrafo', anexoDeParagrafo.paragrafo?.id, 'view']">{{ anexoDeParagrafo.paragrafo?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/anexo-de-paragrafo', anexoDeParagrafo.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
