<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="assunto">
      <h2 data-cy="assuntoDetailsHeading"><span jhiTranslate="pageBoardApp.assunto.detail.title">Assunto</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ assunto.id }}</span>
        </dd>
        <dt><span jhiTranslate="pageBoardApp.assunto.nome">Nome</span></dt>
        <dd>
          <span>{{ assunto.nome }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/assunto', assunto.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
