.whiteparagrafo{
    background-color: #ffff;
}
.blueparagrafo{
    background-color: rgb(221, 243, 249);
}
.center-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width:100%;
   
  }
  
  
  .vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #f9f9f9;
  }